.container{
    background-color: rgba(197, 236, 226, 0.589);
}
.banner{
   
    padding-left: 40px ;

}
.school-logo{
    margin-bottom: 10px;
    
}
a{
    color: black;
}
.sign{
    border: 2px solid rgb(19, 153, 120);
    padding: 10px;
    border-radius: 50px;
    color: white;
    background-color:rgb(19, 153, 120) ;
}
small{
    color: red;
}
.schedule{
    color:rgb(8, 145, 110) ;
}
.get-start{
    padding: 5px 10px;
    border-radius: 50px;
    background-color: rgb(8, 145, 110);
    color: white;
}
.logo{
    margin-top: 20px;
}
.topics{
    margin-top: 50px;
    background-color: white;
}
.topic1, .topic2, .topic3, .topic4 {
    padding: 20px 20px;
    border-radius: 10px;
    background-color: rgba(197, 236, 226, 0.589) ;
}
.topic2{
    background-color: white;
    box-shadow: 5px 5px 10px lightslategray ;
}
.courses{
    text-align: center;
    margin-top: 70px;
}
.options{
    background-color: white;
    margin-top: 50px;
}
.card-footer{
    background-color: white;
    border-top: none;
}
.Testimonial{
    text-align: center;
    margin-top: 70px;
}
.testimonial{
   margin-top: 50px;
    background-color: white;
    padding: 0px 100px;
}
.left{
    margin-left: 30px;
}
.footer{
    margin-top: 80px;
   
    padding: 60px 60px;
    color: white;
    background-color: rgb(31, 28, 28);
}
.copyright{
    text-align: center;
    margin-top: 50px;
    font-size: small;
}
.end-list{
    list-style-type: none;
}
